<form (ngSubmit)="saveFriandise()" ngNativeValidate>
    <div class="form-group">
      <label class="h3" for="brand">Saveur</label>
      <input
        type="text"
        class="form-control"
        id="brand"
        required
        [(ngModel)]="friandise.brand"
        name="brand"/>
    </div>

    <div class="form-group">
      <label class="h3" for="cie">Compagnie</label>
      <input
        type="text"
        class="form-control"
        id="cie"
        required
        [(ngModel)]="friandise.cie"
        name="cie"/>
    </div>

    <div class="form-group">
      <label class="h3" for="price">Prix</label>
      <input
        type="text"
        class="form-control"
        id="price"
        required
        [(ngModel)]="friandise.price"
        name="price"/>
    </div>

    <button type="submit" class="btn btn-success">Envoyer</button>

</form>
